@import '../../variables.scss';

.todo-card {
  background: #274e6c !important;
  height: min-content !important;
  padding: 10px;
  box-sizing: border-box;
  margin: auto;
  margin-bottom: 16px;
  display: flex;
  width: 100%;
  justify-content: space-between;

  h3 {
    padding-left: 12px;
    display: flex;
    align-items: center;
    width: 75%;
    margin: 0;
    color: #eeecdf;
  }
}

.todo-card-buttons {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .todo-card {
    width: 80%;
  }
}

@media only screen and (min-width: 1200px) {
  .todo-card {
    width: 45%;
  }
}
