@import '../../variables.scss';

.todo-card {
  background: #274e6c !important;
  height: min-content !important;
  padding: 10px;
  box-sizing: border-box;
  margin: auto;
  margin-bottom: 16px;
  display: flex;

  h3 {
    padding-left: 12px;
    display: flex;
    align-items: center;
    width: 70%;
    margin: 0;
    color: #eeecdf;
  }
}

.todo-card-buttons {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 1024px) {
  .todo-card {
    width: 45%;

    h3 {
      width: 80%;
    }
  }

  .todo-card-buttons {
    width: 20%;
  }
}
