@import '../../variables.scss';

.todo-list-page {
  box-sizing: border-box;
  padding: 16px;
  height: 100vh;
  display: flex;
  flex-flow: column;
}

.todo-list-header {
  margin: 10% 0;
  text-align: center;
  color: $mainColor !important;
}

.todo-list {
  margin-top: 20%;
  height: fit-content;
  justify-content: center;
  height: 60%;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.todo-fab {
  margin: auto !important;
  background-color: $mainColor !important;
  color: $secondaryColor !important;
}

@media only screen and (min-width: 1024px) {
  .todo-list {
    margin-top: 2%;
    height: 100%;
  }
  .todo-list-header {
    margin: 2% 0;
  }

  .todo-fab {
    position: absolute !important;
    bottom: 5% !important;
    right: 16px !important;
  }
}
