@import '../../variables.scss';

.todo-list-page {
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  flex-flow: column;
}

.todo-list-header {
  top: 2%;
  margin-bottom: 3em;
  text-align: center;
  color: $mainColor !important;
}

.todo-fab {
  position: fixed !important;
  bottom: 5% !important;
  right: 16px !important;
  background-color: #f0810f !important;
}

@media (max-width: 576px) {
  .todo-fab {
    bottom: 15% !important;
  }
}
