@import '../../variables.scss';

.no-data-found {
  background: $mainColor !important;
  color: $secondaryColor !important;

  h4 {
    text-align: center;
  }
}

@media only screen and (min-width: 1024px) {
  .no-data-found {
    width: 30%;
    margin: auto;
    font-size: 20px;
  }
}
